*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    font-family: Arial;
    margin: 0;
}
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width:600px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
    
}
@media screen  and (min-width:768px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}
.header{
    color:black;
    background-color:rgb(233, 203, 216);
    text-align:left;
    padding: 10px;
    font-weight: 1000;
    font-style:normal;
    font-size: x-large;
    float: left;
    margin:auto;
}
.header1 {
    float: right;
    color: black;
    padding: 5px;
}




.nava{
    padding-left: 70px;
    font-size: xx-large;
}

.topnav a{
    color:black;
    font-size:larger;
    padding: 15px 20px;
    text-decoration: none;
    overflow: hidden;
    display:flex;
    margin-top:45px;
}


.topnav a:hover{
    background-color: rgb(170, 142, 197);
    color: rgb(77, 85, 60);
}

.nav2{
    padding-top:15px;
    padding-left: 65px;
    margin:20px;
    width:15%;
    height: 50px;
    background-color: rgb(240, 157, 157);
    
}

.nav2 a{
    text-decoration: none;
    color: white;
    font-size: larger;
}

.nav3{
    padding: 15px;
    padding-left:25px;
    margin: 20px;
    width: 5%;
    height: 50px;
    background-color:rgb(240, 157, 157);

}

.nav3 a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
