*{
    box-sizing: border-box;
}
.row{
    display: flex;
}
.div1{
    height: 600px;
    width: 50%;
    float: left;
    background-color:rgb(228, 228, 125);
    color:black;
    padding: 10px;
    text-align: right;
    padding-right: 40px;
}

.div2{
    height: 600px;
    width: 50%;
    float: right;
    
}

.div3{
    
    position: absolute;
    top:250px;
    left:49.5%;
    font-size:xx-large;
    color: rgba(245, 245, 112, 0.808);
    
}

